{% extends 'EdukodasTemplateBundle::base.html.twig' %}

{% block body %}
    <h2>{{ user.firstName }} {{ user.lastName }} <small>{{ user.studentClass.title }}</small></h2>

    {% if app.user.id == user.id %}
        <div>
            <a href="{{ path('edit_student_profile') }}">Redaguoti</a>
        </div>
    {% endif %}

    {% if is_granted('ROLE_TEACHER') %}
        <div>
            <a href="#">Pridėti taškus</a> |
            <a href="#">Minusuoti taškus</a>
        </div>
    {% endif %}

    {% for pointHistoryEntry in pointHistory %}
        <b>{{ pointHistoryEntry.teacher.firstName }} {{ pointHistoryEntry.teacher.lastName }}: {{ pointHistoryEntry.task.name }} ({{ pointHistoryEntry.amount }})</b>
        <p>{{ pointHistoryEntry.comment }}</p>
    {% else %}
        {{ 'profile.point_history.no_entries'|trans }}
    {% endfor %}
{% endblock %}
