{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .content {
            margin: auto;
            width: 100%;
            text-align: center;
        }

        ul {
            list-style: none;
        }

        li {
            display: inline-block;
            margin: 10px 30px;
            font-size: 2em;
        }
        a:hover {
            text-decoration: none;
        }
    </style>

    <div class="content">
        <h1 style="font-size: 3em">{{ name }}</h1>
        <ul>
            <li><a href="https://www.wikiwand.com/en/Celsius">{{ temp-273.15 }}&degC</a></li>
            <li><a href="https://www.wikiwand.com/en/Fahrenheit">{{ temp*9/5-459.67 }}&degF</a></li>
            <li><a href="https://www.wikiwand.com/en/Kelvin">{{ temp }}&degK</a></li>
            <li><a href="https://www.wikiwand.com/en/Rankine_scale">{{ temp*9/5 }}&degR</a></li>
            <li><a href="https://www.wikiwand.com/en/Delisle_scale">{{ (373.15-temp)*3/2 }}&degDe</a></li>
            <li><a href="https://www.wikiwand.com/en/Newton_scale">{{ (temp-273.15)*33/100 }}&degN</a></li>
            <li><a href="https://www.wikiwand.com/en/Reaumur_scale">{{ (temp-273.15)*4/5 }}&degR&eacute;</a></li>
            <li><a href="https://www.wikiwand.com/en/R%C3%B8mer_scale">{{ (temp-273.15)*21/40+7.5 }}&degR&oslash;</a></li>
        </ul>
    </div>
{% endblock %}