{% extends "EdukodasTemplateBundle::base.html.twig" %}

{% block title %}- {{ 'menu.navigation.users'|trans }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row" id="user-list">
            {{ form_start(filterForm) }}
            <div class="card">
                <div class="card-content">
                    <div class="row filter-smaller">
                        <div class="input-field col s6 m3 offset-m3">
                            {{ form_label(filterForm.team) }}
                            {{ form_row(filterForm.team) }}
                        </div>

                        <div class="input-field col s6 m3">
                            {{ form_label(filterForm.class) }}
                            {{ form_row(filterForm.class) }}
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(filterForm) }}
            <div class="col s12">
                <ul class="collection z-depth-1">
                    {% include "@EdukodasTemplate/Users/inc/_listUsers.html.twig" with {
                    userList: userList
                    } %}
                </ul>
            </div>
            <div class="col s12 center-align">
                {{ knp_pagination_render(userList) }}
            </div>
        </div>
    </div>
{% endblock %}
