{% extends "EdukodasTemplateBundle::base.html.twig" %}

{% block main %}
    <div class="container">
        <div class="row">
            {{ form_start(filterForm) }}

            <div class="input-field col s2">
                {{ form_label(filterForm.team) }}
                {{ form_row(filterForm.team) }}
            </div>

            <div class="input-field col s2">
                {{ form_label(filterForm.class) }}
                {{ form_row(filterForm.class) }}
            </div>

            {{ form_end(filterForm) }}
        </div>

        <div class="row" id="user-list">
            {% include "@EdukodasTemplate/Users/inc/_listUsers.html.twig" with {
                userList: userList
            } %}
        </div>
    </div>
{% endblock %}
