<i class="material-icons right grey-text pointer small" id="add-points-form-back">arrow_back</i>
<h5 id="add-points-task-name"></h5>
<p id="add-points-task-description"></p>
{{ form_start(form, {'attr': {'id': 'add-points-form'}}) }}
<div class="row">
    <div id="student-select" class="col s12 m8">
        {{ form_row(form.student) }}
    </div>
    <div class="col s12 m4">
        {{ form_row(form.amount, {'type': 'number'}) }}
    </div>
    <div class="col s12">
        {{ form_label(form.comment) }}
        {{ form_errors(form.comment) }}
        {{ form_widget(form.comment, {'attr': {'class': 'materialize-textarea', 'length': '190'}}) }}
    </div>

    {{ form_widget(form._token) }}
    {{ form_widget(form.task, {'attr': {'class': 'hide'}}) }}
    {% do form.teacher.setRendered %}

    <button type="submit" class="waves-effect waves-light btn col s12 fill light-blue darken-4"
            id="add-points-submit">{{ 'form.add_points.submit'|trans }}</button>

    <div class="col s12 center">
        <div class="preloader-wrapper small active hide" id="points-submit-preloader">
            <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
