<div id="add-points-modal" class="modal valign-wrapper">
    <div class="modal-content">
        <div class="task-list-container hide">
            {% for course in courses %}
                <ul class="collection with-header striped s12">
                    <li class="collection-header">
                        <h5>
                            {{ course.name }}
                        </h5>
                    </li>
                    {% for task in course.tasks %}
                        <li data-task-id="{{ task.id }}" data-task-amount="{{ task.points }}" class="collection-item points-task-select-button" >
                            {{ task.name }}
                        </li>
                        <li data-task-id="{{ task.id }}" class="hide points-task-description blue">
                            {{ task.description }}
                        </li>
                    {% else %}
                    {% endfor %}
                </ul>
            {% else %}
            {% endfor %}
        </div>
        <div class="hide" id="add-points-form-container">
        </div>
        <div class="hide valign-wrapper" id="points-form-preloader">
            <div class="form-preloader-center">
                <div class="preloader-wrapper big active valign">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
