{{ form_start(form, {'attr': {'id': 'add-points-form'}}) }}
<div>
    {{ form_label(form.student) }}
    {{ form_errors(form.student) }}
    {{ form_widget(form.student) }}
</div>
<div>
    {{ form_label(form.amount) }}
    {{ form_errors(form.amount) }}
    {{ form_widget(form.amount) }}
</div>
<div>
    {{ form_label(form.comment) }}
    {{ form_errors(form.comment) }}
    {{ form_widget(form.comment) }}
</div>
{{ form_widget(form._token) }}
            {{ form_widget(form.task, {'attr': {'class': 'hide'}}) }}
            {% do form.teacher.setRendered %}
<button type="submit" class="waves-effect waves-light btn" id="add-points-submit">{{ 'form.add_points.submit'|trans }}</button>
<div class="preloader-wrapper small active hide" id="points-submit-preloader">
    <div class="spinner-layer spinner-green-only">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div>
<a class="waves-effect waves-light btn right" id="add-points-form-back">{{ 'form.add_points.back'|trans }}</a>
{{ form_end(form) }}
