{{ form_start(form, {'attr': {'id': 'edit-points-form'}}) }}
    {{ form_widget(form.student) }}
    {{ form_widget(form.task) }}
    {{ form_widget(form.amount) }}
    {{ form_widget(form.comment) }}
    {{ form_widget(form._token) }}
    {% do form.teacher.setRendered %}
<button type="submit" class="waves-effect waves-light btn" id="edit-points-save">{{ 'form.edit_tasks.save'|trans }}</button>
<div class="preloader-wrapper small active hide" id="points-save-preloader">
    <div class="spinner-layer spinner-green-only">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div>
{{ form_end(form) }}
