{{ form_start(form, {'attr': {'id': 'edit-points-form'}}) }}
<div class="row">
    <div class="col s12 m8">
        {{ form_row(form.student) }}
    </div>
    <div class="col s12 m4">
        {{ form_row(form.amount) }}
    </div>
    <div class="col s12">
        {{ form_row(form.task) }}
    </div>
    <div class="col s12">
        {{ form_label(form.comment) }}
        {{ form_errors(form.comment) }}
        {{ form_widget(form.comment, {'attr': {'class': 'materialize-textarea', 'length': '190'}}) }}
    </div>

    {{ form_widget(form._token) }}
    {% do form.teacher.setRendered %}

    <button type="submit" class="waves-effect waves-light btn col s12 fill light-blue darken-2"
            id="edit-points-save">{{ 'form.edit_points.save'|trans }}</button>

    <div class="col s12 center">
        <div class="preloader-wrapper small active hide" id="points-save-preloader">
            <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
