<div class="hide-on-med-and-up">
    <div class="col s12">
        <div class="card">
            <div class="card-image">
                {% include '@EdukodasTemplate/Profile/inc/_profilePic.html.twig' %}
            </div>
        </div>
        <div class="card valign-wrapper {{ user.studentTeam ? user.studentTeam.color : 'blue-grey' }} lighten-1">
            <div class="card-content white-text center-align valign">
                <h4>
                    {{ user.fullName }}
                </h4>
                <h1>{{ points | number_format }}</h1>
            </div>
        </div>
    </div>
</div>
<div class="col m12 l7">
    <div class="hide-on-small-and-down">
        <div class="card horizontal valign-wrapper {{ user.studentTeam ? user.studentTeam.color : 'blue-grey' }} lighten-1">
            <div class="card-image">
                {% include '@EdukodasTemplate/Profile/inc/_profilePic.html.twig' %}
            </div>
            <div class="card-content white-text center-align valign" id="name-points">
                <h4>
                    {{ user.fullName }}
                </h4>
                <h1>{{ points | number_format }}</h1>
            </div>
        </div>
    </div>
</div>
<div class="col s12 l5">
    <div class="card information">
        <div class="card-content center-align">
            <div class="flow-text">
                <h4>{{ 'user_list.class'|trans }}: {{ user.studentClass.title }}</h4>
                <div class="row row-card-margins-fix">
                    <div class="left-align col s6">{{ 'points.rating.generation'|trans }}:</div>
                    <div class="right-align col s6"><b>#{{ positionInGeneration }}</b></div>
                    <div class="left-align col s6">{{ 'points.rating.team'|trans }}:</div>
                    <div class="right-align col s6"><b>#{{ positionInTeam }}</b></div>
                    <div class="left-align col s6">{{ 'points.rating.school'|trans }}:</div>
                    <div class="right-align col s6"><b>#{{ positionTotal }}</b></div>
                    <div class="left-align col s6">{{ 'points.rating.class'|trans }}:</div>
                    <div class="right-align col s6"><b>#{{ positionInClass }}</b></div>
                </div>
            </div>
        </div>
    </div>
</div>
