{% for user in userList %}
    <ul class="collection">
        <li class="collection-item dismissable">
            <div>
                <div style="display: inline-block; width: 18%">
                    {{ user.firstName }} {{ user.lastName }} <small>({{ user.classTitle }})</small>
                </div>

                <div style="display: inline-block; width: 76%">
                    {% set minMaxAmount = minAmount|abs + maxAmount|abs %}
                    {% set userAmount = user.amount + minAmount|abs %}

                    {% if minMaxAmount == 0 %}
                        {% set percent = 100 %}
                    {% else %}
                        {% set percent = userAmount / minMaxAmount * 100 %}
                    {% endif %}

                    <div style="width: {{ percent }}%; height: 10px;" class="{{ user.teamColor ? user.teamColor : 'white' }} lighten-1"></div>
                </div>

                <div class="secondary-content{% if (user.amount <= 0) %} red-text{% endif %}">
                    {{ user.amount }}
                </div>
            </div>
        </li>
    </ul>
{% else %}
    {{ 'user_list.no_users'|trans }}
{% endfor %}
{{ knp_pagination_render(userList) }}
