{% for user in userList %}
    <li class="collection-item avatar valign-wrapper">
        <a href="{{ path('edukodas_unified_profile', {'username' : user.username}) }}">
            {% if (user.picturePath) %}
                <img
                        class="responsive-img circle z-depth-1"
                        src="{{ user.picturePath|filename_to_pic|imagine_filter('profile_small') }}"
                        alt="{{ user.fullName }}">
            {% else %}
                <img
                        class="responsive-img circle z-depth-1"
                        src="{{ asset('/bundles/edukodastemplate/image/profile-placeholder.png') }}"
                        alt="{{ user.fullName }}">
            {% endif %}
        </a>
        <div class="col s2 valign username">
            <a href="{{ path('edukodas_unified_profile', {'username' : user.username}) }}">
                {{ user.fullName }}
                <small>({{ user.classTitle }})</small></a>
        </div>

        <div class="col s12 valign">
            {% set minMaxAmount = minAmount|abs + maxAmount|abs %}
            {% set userAmount = user.amount + minAmount|abs %}

            {% if minMaxAmount == 0 %}
                {% set percent = 100 %}
            {% else %}
                {% set percent = userAmount / minMaxAmount * 100 %}
            {% endif %}

            <div style="width: {{ percent }}%; height: 10px;"
                 class="{{ user.teamColor ? user.teamColor : 'white' }} lighten-1"></div>
        </div>

        <div class="s1 valign {{ user.amount<=0 ? 'red-text text-lighten-1' : 'grey-text'}}">
            {{ user.amount }}
        </div>
    </li>
{% else %}
    {{ 'user_list.no_users'|trans }}
{% endfor %}
