{% for team in teamList %}
    <li style="padding-left: 72px" class="collection-item valign-wrapper">
        <div class="col s3 team-name">
            {{ team.title }}
        </div>

        <div class="col s9 valign">
            {% set maxAmount = teamList|first.amount %}
            {% set minAmount = teamList|last.amount %}

            {% set minMaxAmount = minAmount|abs + maxAmount|abs %}
            {% set teamAmount = team.amount + minAmount|abs %}

            {% if minMaxAmount == 0 %}
                {% set percent = 100 %}
            {% else %}
                {% set percent = teamAmount / minMaxAmount * 100 %}
            {% endif %}

            <div style="width: {{ percent }}%;"
                 class="{{ team.color }} lighten-1 point-bar"></div>
        </div>

        <div class="valign {{ team.amount <= 0 ? 'red-text text-lighten-1' : 'grey-text'}}">
            {{ team.amount }}
        </div>
    </li>
{% else %}
    {{ 'user_list.no_users'|trans }}
{% endfor %}
