<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{{ "PlsAtsiminkPakeist" }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block stylesheets %}
        {% stylesheets "bundles/edukodastemplate/sass/materialize.scss" filter="scssphp" output="css/app.css" %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    {% block canonical_meta %}{% endblock %}
</head>
<body>
<<<<<<<<< Temporary merge branch 1
    {% block header %}
        {% include 'EdukodasTemplateBundle:inc:header.html.twig' %}
    {% endblock %}

    {% block body %}
    {% endblock %}

    {% javascripts filter='?yui_js'
    'bundles/fosjsrouting/js/router.js'
    'js/fos_js_routes.js'
    'bundles/edukodastemplate/js/jquery-2.2.4.min.js'
    'bundles/edukodastemplate/js/bin/materialize.js'
    'bundles/edukodastemplate/js/jquery.form.js'
    'bundles/edukodastemplate/js/script.js'
    'bundles/edukodastemplate/js/tasks-script.js'
    output='js/compiled/app.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
=========
{% block header %}
    {% include 'EdukodasTemplateBundle:inc:header.html.twig' %}
{% endblock %}

{% block main %}{% endblock %}

{% javascripts
'bundles/edukodastemplate/js/jquery-2.2.4.min.js'
'bundles/edukodastemplate/js/bin/materialize.js'
output='js/compiled/app.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
>>>>>>>>> Temporary merge branch 2
</body>
</html>
