{% extends 'EdukodasTemplateBundle::base.html.twig' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block header %}{% endblock %}

{% block stylesheets %}
    {% stylesheets
    "bundles/edukodastemplate/sass/materialize.scss"
    "bundles/edukodastemplate/sass/login.scss"
    filter="scssphp"
    filter="cssrewrite"
    output="css/app.css" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block main %}
    <main class="valign-wrapper grey lighten-4">
        <div class="container valign">
            <div class="row">
                <div class="col s12 m8 l6 offset-m2 offset-l3">
                    {% if error %}
                        <div class="card-panel red lighten-2">
                            <div xmlns="http://www.w3.org/1999/html">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        </div>
                    {% endif %}
                    <div class="card-panel row">
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                            {% endif %}
                            <div class="input-field">
                                <div>
                                    <label for="username" class="active">{{ 'security.login.username'|trans }}</label>
                                </div>
                                <input type="text" id="username" name="_username" value="{{ last_username }}"
                                       required="required"/>
                            </div>
                            <div class="input-field">
                                <div>
                                    <label for="password" class="active">{{ 'security.login.password'|trans }}</label>
                                </div>
                                <input type="password" id="password" name="_password" required="required"/>
                            </div>
                            <div id="checknbutt">
                                <div class="col s12">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                                </div>
                                <button class="btn waves-effect waves-light col s12 m4 offset-m4" type="submit"
                                        name="_submit">{{ 'security.login.submit'|trans }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {% javascripts
    'bundles/edukodastemplate/js/lib/jquery-2.2.4.min.js'
    'bundles/edukodastemplate/js/bin/materialize.js'
    output='js/compiled/app.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
