{% extends "@EdukodasTemplate/base.html.twig" %}
{% block title %}- {{ 'menu.navigation.ratings'|trans }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            {{ form_start(filterForm, {'action': path('edukodas_graph'), 'method': 'GET'}) }}
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s4">
                            {{ form_row(filterForm.timespan) }}
                        </div>
                        <div class="col s4">
                            {{ form_row(filterForm.team) }}
                        </div>
                        <div class="col s4">
                            {{ form_row(filterForm.class) }}
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(filterForm) }}

            {% if teamPieAndBarGraph %}
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="flow-text">{{ 'graph.headers.team_points'|trans }}</span>
                            <div class="row">
                                <div class="valign-wrapper">
                                    <div class="col l4 hide-on-med-and-down">
                                        <canvas id="team-pie-chart"></canvas>
                                    </div>
                                    <div class="col s12 m12 l8">
                                        <canvas id="team-bar-chart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if teamLineGraph %}
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="flow-text">{{ 'graph.headers.period_points'|trans }}</span>
                            <div class="row">
                                <div class="valign-wrapper">

                                    <div class="col s12">
                                        <canvas id="team-line-chart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="flow-text">{{ 'graph.headers.cumulative_points'|trans }}</span>
                            <div class="row">
                                <div class="valign-wrapper">

                                    <div class="col s12">
                                        <canvas id="team-line-cumulative-chart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if topUsersGraph %}
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="flow-text">{{ 'graph.headers.ratings'|trans }}</span>
                            <div class="row">
                                <div class="valign-wrapper">
                                    <div class="col s12">
                                        <canvas id="top-users-bar-chart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if not teamPieAndBarGraph and not teamLineGraph and not topUsersGraph %}
                <div class="col s12">
                    <div class="card-panel">
                        <span class="red-text text-darken-2">{{ 'graph.no_charts'|trans }}</span>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {% if teamPieAndBarGraph %}
        <script>
            var dataPie = {{ teamPieAndBarGraph.pieData|raw }};
            var dataBar = {{ teamPieAndBarGraph.barData|raw }};

            var optionsPie = {
                legend: {
                    display: false
                }
            };

            var optionsBar = {
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            display: false
                        },
                        gridLines: {
                            display: false
                        }
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            };

            drawChart('#team-pie-chart', 'pie', dataPie, optionsPie);
            drawChart('#team-bar-chart', 'bar', dataBar, optionsBar);
        </script>
    {% endif %}

    {% if teamLineGraph %}
        <script>
            var data = {{ teamLineGraph|raw }};
            var dataSum = {{ teamLineCumulativeGraph|raw }};
            var options = {
                legend: {
                    display: false
                }
            };

            drawChart('#team-line-chart', 'line', data, options);
            drawChart('#team-line-cumulative-chart', 'line', dataSum, options);
        </script>
    {% endif %}

    {% if topUsersGraph %}
        <script>
            var data = {{ topUsersGraph|raw }};
            var options = {
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false
                        }
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            };

            drawChart('#top-users-bar-chart', 'bar', data, options);
        </script>
    {% endif %}

{% endblock %}
