{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form_password 'EdukodasTemplateBundle:Form:fields.html.twig' %}

<div class="row">
    <div class="col s12">
        <div class="card choose-image">
            <div class="card-image">
                {% if app.user.hasPicture %}
                    <img src="{{ app.user|profile_pic|imagine_filter('profile_medium') }}" alt="{{ app.user.fullName }}">
                {% else %}
                    <img src="{{ asset('/bundles/edukodastemplate/image/profile-placeholder.png') }}" alt="{{ app.user.fullName }}">
                {% endif %}
            </div>
            <div class="card-stacked">
                {{ form_start(form_picture, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                <div class="card-content">
                    <div class="file-field input-field">
                        <div class="btn {{ app.user.studentTeam ? app.user.studentTeam.color ~ ' lighten-1' : 'light-blue darken-4' }}">
                            <span>{{ 'profile.edit.file'|trans }}</span>
                            {{ form_widget(form_picture.picture) }}
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
                <div class="card-action spread">
                    <button class="btn {{ app.user.studentTeam ? app.user.studentTeam.color ~ ' lighten-1' : 'light-blue darken-4' }} waves-effect waves-light" type="submit">
                        {{ 'profile.edit.submit_picture'|trans }}
                    </button>
                    <span class="red-text text-darken-2">{{ form_errors(form_picture) }}</span>
                    {{ form_end(form_picture) }}

                    {% if app.user.hasPicture %}
                        {{ form_start(form_remove, {'action': path('edukodas_remove_picture'), 'method': 'DELETE'}) }}
                        {{ form_widget(form_remove) }}
                        {{ form_end(form_remove) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6">
        <div class="card">
            {{ form_start(form_profile, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
            <div class="card-content">
                <div class="card-title">
                    {{ 'profile.edit.header_info'|trans }}
                </div>
                {{ form_widget(form_profile) }}
            </div>
            <div class="card-action">
                <div class="center-align">
                    <input type="submit" class="btn {{ app.user.studentTeam ? app.user.studentTeam.color ~ ' lighten-1' : 'light-blue darken-4' }} waves-effect waves-light"
                           value="{{ 'profile.edit.submit'|trans }}"/>
                </div>
            </div>
            {{ form_end(form_profile) }}
        </div>
    </div>
    <div class="col s12 m6">
        {{ form_start(form_password, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    {{ 'profile.edit.header_password'|trans }}
                </div>
                {{ form_widget(form_password) }}
            </div>
            <div class="card-action">
                <div class="center-align">
                    <input type="submit" class="btn {{ app.user.studentTeam ? app.user.studentTeam.color ~ ' lighten-1' : 'light-blue darken-4' }} waves-effect waves-light"
                           value="{{ 'change_password.submit'|trans }}"/>
                </div>
            </div>
        </div>
        {{ form_end(form_password) }}
    </div>
</div>
