{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<ul class="pagination">
    {% if first is defined and current == first %}
        <li class="disabled">
            <a href="#!" class="page-nav"><i class="material-icons">first_page</i></a>
        </li>
        <li class="disabled">
            <a href="#!" class="page-nav"><i class="material-icons">chevron_left</i></a>
        </li>
    {% endif %}

    {% if first is defined and current != first %}
        <li class="waves-effect">
            <a href="{{ path(route, query|merge({(pageParameterName): first})) }}"
               class="page-nav"><i class="material-icons">first_page</i></a>
        </li>
        <li class="waves-effect">
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}"
               class="page-nav"><i class="material-icons">chevron_left</i></a>
        </li>
    {% endif %}


    {% for page in pagesInRange %}
        {% if page != current %}
            <li class="waves-effect">
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            </li>
        {% else %}
            <li class="active">
                <a href="#!">{{ page }}</a>
            </li>
        {% endif %}

    {% endfor %}

    {% if last is defined and current != last %}
        <li class="waves-effect">
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}"
               class="page-nav"><i class="material-icons">chevron_right</i></a>
        </li>
        <li class="waves-effect">
            <a href="{{ path(route, query|merge({(pageParameterName): last})) }}"
               class="page-nav"><i class="material-icons">last_page</i></a>
        </li>
    {% endif %}

    {% if last is defined and current == last %}
        <li class="disabled">
            <a href="#!" class="page-nav"><i class="material-icons">chevron_right</i></a>
        </li>
        <li class="disabled">
            <a href="#!" class="page-nav"><i class="material-icons">last_page</i></a>
        </li>
    {% endif %}
</ul>
{% endif %}
