<nav>
    <div class="nav-wrapper">
        <ul>
            <li><a href="{{ path('') }}">{{ 'menu.navigation.profile'|trans }}</a></li>
            <li><a href="{{ path('') }}">{{ 'menu.navigation.tasks'|trans }}</a></li>
            <li><a href="{{ path('') }}">{{ 'menu.navigation.stats'|trans }}</a></li>
            <li><a href="{{ path('') }}">{{ 'menu.navigation.settings'|trans }}</a></li>
        </ul>
    </div>
</nav>